<form action="/create_account" method="POST">
	<label for="name">First Name</label>
	<input type="text" placeholder="first name" name="fname">
	<label for="name">Last Name</label>
	<input type="text" placeholder="last name" name="lname">
	<label for=:"email">Email</label>
	<input type="text" placeholder="email" name="email">
	<labal for="phone">Password</labal>
	<input type="password" placeholder="Password" name="password">
	<input type="submit" value="Create Account">	
</form>