<form action="/create_post" method="POST">
	<div class="freesignup">
		<h2>Make a Post!</h2>
		<textarea name="content" placeholder="Post Content" maxlength="150"></textarea> 
		<input id="signupbtn" type="submit" value="submit post">
	</div>
</form>  

