<form action="/create_post" method="POST">
	<div class="freesignup">
		<h2>Make a Post!</h2>
		<input type="string" name="content" placeholder="Post Content">
		<input id="signupbtn" type="submit" value="submit post">
	</div>
</form>  