<form action="/create_account" method="POST">
	<label for="name">Name</label>
	<input type="text" placeholder="name" name="username">
	<label for=:"email">Email</label>
	<input type="text" placeholder="email" name="email">
	<labal for="phone">Password</labal>
	<input type="password" placeholder="Password" name="password">
	<input type="submit" value="Create Account">	
</form>