<form action="/create_account" method="POST">
	<div class="freesignup">
		<h2>Free Sign Up</h2>
		<input type="firstname" name="fname" placeholder="First name">
		<input type="lastname" name="lname" placeholder="Last name">
		<input type="email" name="email" placeholder="Type your email here">
		<input type="password" name="password" placeholder="Create password">
		<input type="password" name="confirm" placeholder="Confirm password">
		<input id="signupbtn" type="submit" value="Enter developerscloud.com">
	</div>
</form>