<a href="/create_post">Make a post</a>

<% @posts.each do |post| %>
	<div>
		<%= post.user.fname %>
		<%= post.content %>
		<br>
		<a href="/editpost/<%= post.id %>" value="edit">Edit post</a> |
		<a href="/deletepost/<%= post.id %>" value="delete">Delete post</a>
	</div>
<% end %>
