<div class="feedin">
	<div class="postin">
		<img src="images/heeps.jpg">
		<h4>Isaac Hipa Toleafoa</h4>
		<div class="postarea">
			<textarea placeholder="What's on your mind?" id="postarea"></textarea>
		</div>
		<button class="postbtn" id="pb">Post</button>
	</div>
</div>