<form action="/edit" id="edit" method="POST">
	<input type="text" name="fname" value=<%= @user.fname %>>
	<input type="text" name="lname" value=<%= @user.lname %>>
	<input type="password" name="password" value=<%= @user.password %>>
	<input type="submit" value="update">
</form>