<div class="profilepage">
	<img src="images/heeps.jpg">
	<div class="summary">
		<h2>Isaac Hipa Toleafoa</h2>
		<h4><strong>Owner & Founder at Disruptive Supplements</strong></h4>
		<p>New York Code & Design Academy</p>
		<p>Orem, Utah</p>
		<br>
		<p>"In order to succeed, we must first believe that we can."</p>
	</div>
</div>
<div class="feedin">
	<div class="postin">
		<img src="images/heeps.jpg">
		<h4>Isaac Hipa Toleafoa</h4>
		<div class="postarea">
			<textarea placeholder="What's on your mind?"></textarea>
		</div>
		<button class="postbtn">Post</button>
	</div>
</div>
<div class="feedin">
	<div class="postin">
		<img src="images/heeps.jpg">
		<h4>Isaac Hipa Toleafoa</h4>
		<div class="postarea">
			<textarea placeholder="What's on your mind?"></textarea>
		</div>
		<button class="postbtn">Post</button>
	</div>
</div>
<div class="feedin">
	<div class="postin">
		<img src="images/heeps.jpg">
		<h4>Isaac Hipa Toleafoa</h4>
		<div class="postarea">
			<textarea placeholder="What's on your mind?"></textarea>
		</div>
		<button class="postbtn">Post</button>
	</div>
</div>
<div class="feedin">
	<div class="postin">
		<img src="images/heeps.jpg">
		<h4>Isaac Hipa Toleafoa</h4>
		<div class="postarea">
			<textarea placeholder="What's on your mind?"></textarea>
		</div>
		<button class="postbtn">Post</button>
	</div>
</div>
