@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
	border: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif!important;
	width: 100%;
	background: white; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #ffc266 , #80ffe5); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #ffc266 , #80ffe5); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #ffc266 , #80ffe5); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #ffc266 , #80ffe5); /* Standard syntax (must be last) */;
	color: #333;
	width: 100%;
	height: 500px;
	letter-spacing: 2px;
}
.navbar-default1 {
	background-color: none;
}
span.icon-bar {
	background-color: #333;
}
.nav.navbar-nav.navbar-right a {
	color: #333;
}
.nav.navbar-nav.navbar-right a:hover {
	border-bottom: 1px solid #333;
	background-color: inherit;
}
a.navbar-brand {
	padding: 5px 10px;
}
.navbar-header img {
	width: 50px;
	height: 50px;
}
a#logoimg img {
	width: 80px;
	height: 80px;
}
.freesignup {
	width: 400px;
	height: 425px;
	background-color: inherit;
	padding: 0 0 30px;
	margin: 0 auto;
	text-align: center;
}
.freesignup h2 {
	margin: 0;
	width: 100%;
	padding: 24.5px 0;
	background-color: inherit;
	color: #666;
}
.freesignup input {
	width: 350px;
	height: 47px;
	padding: 0 25px;
	outline: none;
	font-size: 12px;
	color: black;
	border: none;
	border-bottom: 1.7px solid grey;
	margin: 5px 0;
	font-size: 15px;
	letter-spacing: 2px;
	background-color: inherit;
}
.freesignup input:hover {
	background-color: #ffffcc;
	color: black;
}
input#signupbtn {
	width: 350px;
	height: auto;
	padding: 36.5px 0px;
	margin: 40px 0;
	background-color: #00ff99;
	border: none;
	font-size: 20px;
	color: #666;
}
input#signupbtn:hover {
	background-color: #ffcce6;
	color: white;
}

.footer1 {
	width: 100%;
	padding: 2px 0;
	text-align: center;
	color: black;
	bottom: 0;
	position: absolute;
}

/* home feed page styles */
.feedin {
	width: 500px;
	height: auto;
	margin: 0 auto;
	border-radius: 20px;
	background-color: ;
	padding: 30px;
}

.postin {
	width: 100%;
	height: 230px;
	background-color: rgba(255,255,255, 0.7);

	padding: 0px 20px 0;
	text-align: center;

}
.postin h4 {
	display: inline;
	margin: 0 10px;
}

.postin img {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	border: 0px;
	margin: 10px 0;
}
.postin textarea {
	width: 100%;
	height: 100px;
	padding: 10px 25px;
	border: none;
	outline: none;
	border-radius: 20px;
	color: black;
	resize: none;
}
.postin textarea:hover {
	background-color: #9e9;
	color: white;
}
.postarea {
	width: 100%;
	height: 100%;
	display: inline;
}
button.postbtn {
	width: 80px;
	height: 30px;
	float: right;
	border: none;
	letter-spacing: 2px;
	background-color: rgba(122, 225, 151, .9);
	color: white;
	border-radius: 3px;
	outline: none;
	margin-top: 5px;
}

button.postbtn:hover{
	background-color: #999;
	color: white;
}
/*  media queries */

@media (max-width: 458px) {
	.feedin{
		width: 100%;
		padding-left: 0px;
		padding-right: 0px;
		border-radius: 0px;
	}
	.postin {
		border-radius: 0px;
	}
	textarea.postin{
		width: 100%;
		border-radius: 0px;
	}

}
@media (min-width: 768px) {

}
@media (min-width: 992px) {

}
@media (min-width: 1200px) {

}














